<div class="container mt-3">
  <h1>Créer une nouvelle liste</h1>

  <div class="row">
    <div class="col-6">
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, label: "Nom de la liste", placeholder: "Classiques, Horreur, Comédies..." %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Créer", class: "btn btn-primary" %>
        <%= link_to "Annuler", lists_path, class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>
